body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #c53902;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    margin: 16px;
    border-radius: 8px;
}

.menu {
    display: flex;
}

.menu li a {
    color: #fff;
    padding: 8px;
    text-decoration: none;
    margin-right: 8px;
    border-radius: 8px;
}

.menu li a:hover {
    background-color: #a83006;
}

.search input {
    height: 24px;
    width: 170px;
    font-size: 14px;
    padding: 0 8px;
    border: 0;
    outline: none;
    background-color: #a83006;
    border-radius: 8px;
    color: #fff;
}

.search input::placeholder {
    color: #fff;
    opacity: 0.9;
}

#container {
    display: flex;
}

#container main {
    width: 70%;
    margin-left: 16px;
}

#container main h2,
#container aside h2 {
    background-color: rgb(190, 184, 184);
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 18px;
}

#container main p {
    color: #333;
    font-size: 14px;
}

#container main p img {
    float: right;
    margin: 10px 24px 24px 0;
}

#container aside {
    width: 30%;
    margin-left: 24px;
    margin-right: 16px;
}

#container aside ul li {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px dotted #333;
}

#container aside ul li:last-child {
    border: 0;
}

#container aside ul li a {
    display: flex;
    color: #c53902;
    align-items: center;
}

#container aside ul li a:hover {
    text-decoration: none;
}

#container aside ul li a img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 16px;
}

footer {
    background-color: #c53902;
    padding: 24px 0;
}

footer .links {
    display: flex;
    width: 800px;
    margin: auto;
}

footer .links ul {
    width: 33%;
}

footer .links ul li {
    margin-bottom: 10px;
}

footer .links ul li a {
    color: #fff;
    text-decoration: none;
}

footer .links ul li a:hover {
    text-decoration: underline;
}

footer .copyright {
    text-align: center;
    color: #fff;
    padding-top: 48px;
}
